@font-face {
	font-family: 'Hannari';
	src: url(../font/Hannari.otf);
}

body {
    color: #777;
    font-family: 'Hannari';
    background-color: #D7C4BB;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;

}
    #layout.active #menu {
        left: 150px;
        width: 150px;
    }

    #layout.active .menu-link {
        left: 150px;
    }
/*
The content `<div>` is where all your content goes.
*/

.header {
    position: fixed;
    width: 100%;
    height: 150px;
    margin: auto;
    color: #333;
    text-align: center;
    padding: 10px 0px 0px 0px;
    background-color: #D7C4BB;
    background-image: url("../img/header.png");
    background-size: 100% auto;
    border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 2px 0;
        font-size: 60px;
        font-weight: 30px;
    }

.content {
    margin: auto;
    padding: 160px 25px;
    max-width: 100%;
    margin-bottom: 50px;
    line-height: 30px;
}
    .content h1 {
        font-size: 30px;
        font-weight: 15px;
        color: #777;
    }


#menu {
    margin-left: -150px;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #B19693;
    font-size: 20px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

    #menu a {
        color: #fff;
        border: none;
        padding: 10px 0px 10px 10px;
    }

     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #eee;
    }

        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #FEDFE1;
            color: #777;
        }

    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #E87A90;
    }

        #menu .pure-menu-selected a {
            color: #fff;
        }

    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

.menu-link {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px;
    z-index: 10;
    width: 20px;
    height: auto;
    padding: 15px 10px;
}

    .menu-link:hover,
    .menu-link:focus {
        background: ##FEDFE1;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 2px;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -6px;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 6px;
        }

.rss-table {
        width: 100%;
        height:500px;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #eee;
}

    #new {
        width: 100%;
    }
    .blogs {
        width: 100%;
        margin: auto;
    }
    .rss-table table {
        width: 100%;
        overflow: scroll;
    }

    .rss-table th {
        color: #1C1C1C;
        font-size: 120%;
        text-align: left;
        padding-left: 30px;
        background-color: #91989F;
    }
    .rss-table td {
        max-width:1px;
        color: #1C1C1C;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis; /*Safari用*/
        -o-text-overflow: ellipsis; /*Opera用*/
    }

    .rss-table td.news {
        width: 35px;
        max-width: 40px;
        color: red;
    }

    .anchor {
        float: left;
        width: 50%;
        margin-top: -160px;
        padding-top: 160px;
    }

@media screen and (min-width: 769px) {
    #layout {
        padding-left: 150px;
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}
@media screen and (max-width: 769px) {
    .header {
            height: 50px;
            padding-left: 0px;
    }

    .header h1 {
        font-size: 30px;
        font-weight: 10px;
    }
    .content {
        padding-top: 100px;
        padding-left: 0.1em;
        padding-right: 0.1em;
        font-size: 13px;
        line-height: 20px;
    }
        .content h1 {
            font-size: 20px;
            font-weight: 15px;
            margin: 5px 0 1px;
            color: #777;
        }

    #layout.active {
        position: relative;
        left: 150px;
    }
    .rss-table {
        height:250px;
    }

    #rss-link {
        display: none;
    }
    
    .anchor {
        float:  none;
        width: 100%;
        margin-top:-5px;
        padding-top:5px;
    }
}
